<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/53a25690-0afa-41d9-b41e-50b27d7c6c1e/resourceGroups/container-registry-rg/providers/Microsoft.ContainerRegistry/registries/container0registry0acr</ResourceId>
    <ResourceName>container0registry0acr</ResourceName>
    <ResourceGroup>container-registry-rg</ResourceGroup>
    <Subscription>MCAPS-Hybrid-REQ-45875-2022-robvet</Subscription>
    <RegistryUrl>https://container0registry0acr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>v7-r1</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>262ee615-9410-436a-82d7-12ef7fa22763</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>